/* Common  */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0d1111;
  --secondary-color: #767e7e;
  --accent-color-1: #2f3a3b;
  --accent-color-2: #1ebfc1;
  --accent-color-3: #9da6a5;
  --accent-color-4: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  padding: 20px 41px;
  border-radius: 14px;
  color: var(--accent-color-4);
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.heading {
  color: var(--primary-color);
  font-weight: 700;
}

.heading.lv1 {
  font-size: 6.2rem;
  line-height: 1.16;
}

.heading.lv2 {
  font-size: 4.2rem;
  line-height: 1.33;
}

.heading.lv3 {
  font-size: 6.2rem;
}

/* Header */
.header {
  padding: 64px 0 24px;
  background: #fefefd;
}

.header.fixed {
  position: sticky;
  top: -40px;
  z-index: 1;
}

.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .list {
  display: flex;
  gap: 39px;
}

.header .list a {
  color: var(--accent-color-1);
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.header .list a:hover {
  color: var(--accent-color-2);
}

.header .list a.active {
  font-weight: 600;
}

.header .sign-up-btn {
  margin-left: 24px;
  padding: 12px 23px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
  border-radius: 6px;
}

.header .cta-group .sign-in-btn {
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
}

.header .cta-group .sign-in-btn:hover {
  color: var(--accent-color-2);
}

.header .cta-group .sign-up-btn:hover {
  color: var(--accent-color-4);
  background: var(--accent-color-2);
}

/* Hero */
.hero {
  margin-top: 26px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .content-block {
  width: 45%;
}

.hero .content-block .title {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .content-block .heading {
  margin-top: 18px;
  max-width: 458px;
}

.hero .content-block .desc {
  max-width: 374px;
  color: var(--accent-color-3);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}

.hero .content-block .cta-group {
  display: flex;
  margin-top: 52px;
  gap: 50px;
}

.hero .content-block .get-started-btn {
  background: var(--accent-color-2);
}

.hero .content-block .get-started-btn:hover {
  opacity: 0.9;
  box-shadow: 0px 10px 15px -11px rgba(0, 0, 0, 0.1);
}

.hero .content-block .play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: transparent;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
  cursor: pointer;
}

.hero .content-block .play-btn:hover {
  box-shadow: 0px 10px 15px -11px rgba(0, 0, 0, 0.1);
}

.hero .banner-block {
  position: relative;
  padding-left: 65px;
}

.hero .banner-block .title {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

.hero .banner-block img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .banner-block .courses-card {
  position: absolute;
  top: 149px;
  left: 25px;
  padding: 17px 25px 18px;
  display: flex;
  gap: 16px;
  align-items: center;
  width: 157px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .banner-block .book-block {
  position: relative;
}

.hero .banner-block .book-img {
  width: 36px;
  height: 40px;
}

.hero .banner-block .horizontal-line-img {
  position: absolute;
  top: 28px;
  left: 4px;
  right: 4px;
  width: 28px;
  height: 4px;
  color: #f4dada;
}

.hero .banner-block .schedules-card {
  position: absolute;
  left: 0;
  bottom: 46px;
  padding: 16px 25px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  border-radius: 24px;
  background: var(--accent-color-4);
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .banner-block .horizontal-line-schedules-1,
.hero .banner-block .horizontal-line-schedules-2,
.hero .banner-block .horizontal-line-schedules-3 {
  width: 74px;
  height: 6px;
}

.hero .banner-block .horizontal-line-schedules-1 {
  margin-top: 16px;
}

.hero .banner-block .horizontal-line-schedules-2 {
  margin-top: 12px;
}

.hero .banner-block .horizontal-line-schedules-3 {
  margin-top: 10px;
}

.hero .banner-block .horizontal-line-schedules-4 {
  margin-top: 16px;
  width: 26px;
  height: 6px;
}

.hero .banner-block .active-students-card {
  position: absolute;
  right: 45px;
  bottom: 41px;
  padding: 17px 35px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 207px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .banner-block .avatar-group {
  margin-top: 8px;
  display: flex;
}

.hero .banner-block .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  color: var(--accent-color-4);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 33px;
  background: var(--avatar-bg-color, --accent-color-4);
}

.hero .banner-block .avatar:not(:first-child) {
  margin-left: -7px;
}

/* Features */
.features {
  margin-top: 209px;
}

.features .body {
  width: 88%;
}

.features .row-top .intro-title {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.083em;
}

.features .row-top .heading.lv2 {
  margin-top: 18px;
  max-width: 577px;
}

.features .row-top .desc {
  margin-top: 18px;
  max-width: 590px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.features .feature-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.features .feature-list .feature-item {
  width: 33.33%;
}

.features .feature-list .feature-img {
  width: 102px;
  height: 106px;
}

.features .feature-list .title {
  margin-top: 26px;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

.features .feature-list .desc {
  margin-top: 16px;
  max-width: 224px;
  color: var(--accent-color-3);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68;
}

/* Popular Courses */
.popular-courses {
  margin-top: 130px;
}

.popular-courses .row-top .intro-title {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.083em;
}

.popular-courses .row-top .heading.lv2 {
  margin-top: 18px;
}

.popular-courses .row-top .info {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-courses .row-top .desc {
  max-width: 525px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}

.popular-courses .row-top .view-all-courses-btn {
  color: var(--accent-color-2);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.popular-courses .course-list {
  margin-top: 79px;
  display: flex;
  gap: 47px;
}

.popular-courses .course-list .course-item {
  position: relative;
  width: 33.33%;
}

.popular-courses .course-list .course-img-block {
  position: relative;
}

.popular-courses .course-list .course-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 393px;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
  cursor: pointer;
}

.popular-courses .course-list .course-shape:hover {
  display: none;
}

.popular-courses .course-list .course-img {
  width: 100%;
  height: 393px;
  border-radius: 8px;
}

.popular-courses .course-list .info {
  position: absolute;
  top: 322px;
  left: 17px;
  right: 17px;
  width: 325px;
  padding: 18px 25px 29px;
  border-radius: 8px;
  background: var(--accent-color-4);
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular-courses .course-list .title a {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 700;
}

.popular-courses .course-list .price {
  margin-top: 16px;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.popular-courses .course-list .value {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 700;
}

.popular-courses .course-list .desc {
  margin-top: 6px;
  color: var(--accent-color-3);
  font-size: 1.4rem;
  font-weight: 400;
}

.popular-courses .course-list .course-schedule {
  margin-top: 18px;
  display: flex;
  gap: 10px;
}

.popular-courses .course-list .schedule-info {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--accent-color-3);
  font-size: 1.4rem;
  font-weight: 400;
}

.popular-courses .course-list .schedule-info::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--accent-color-2);
}

/* Stats */
.stats {
  margin-top: 265px;
}

.stats .body {
  display: flex;
  justify-content: space-around;
}

.stats .heading.lv3 {
  text-align: center;
}

.stats .title {
  margin-top: 24px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
}

/* Feedback */
.feedback {
  margin-top: 264px;
}

.feedback .main-content {
  position: relative;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .feedback-item {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;
  height: 481px;
}

.feedback .info {
  width: 42%;
}

.feedback .info .open-quote-img {
  width: 36px;
  height: 29px;
}

.feedback .info blockquote {
  margin-top: 27px;
  max-width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.feedback .info .feedback-author {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 33px;
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.feedback .info .feedback-author::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #070707;
}

.feedback .info .feedback-author strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.feedback .cta-group {
  position: absolute;
  bottom: 37px;
  left: 0;
  margin-top: 52px;
  display: flex;
  gap: 30px;
}

.feedback .control-btn {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--accent-color-2);
  border-radius: 50%;
  background: #2ac9bf;
  cursor: pointer;
}

.feedback .control-btn.disabled {
  opacity: 0.6;
  cursor: default;
}

.feedback .control-btn:hover {
  opacity: 0.9;
}

.feedback .control-btn.disabled:hover {
  opacity: 0.6;
}

.feedback .img-group {
  position: relative;
  width: 58%;
}

.feedback .img-group .avatar {
  border-radius: 50%;
  object-fit: cover;
}

.feedback .img-group .avatar:nth-child(1) {
  position: absolute;
  top: 0;
  left: 144px;
  width: 92px;
  height: 92px;
}

.feedback .img-group .avatar:nth-child(2) {
  position: absolute;
  top: 19px;
  right: 0;
  width: 110px;
  height: 110px;
}

.feedback .img-group .avatar:nth-child(3),
.feedback .img-group .avatar:nth-child(4),
.feedback .img-group .avatar:nth-child(5) {
  width: 78px;
  height: 78px;
}

.feedback .img-group .avatar:nth-child(3) {
  position: absolute;
  top: 258px;
  left: 0;
}

.feedback .img-group .avatar:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 212px;
}

.feedback .img-group .avatar:nth-child(5) {
  position: absolute;
  bottom: 29px;
  right: 32px;
}

.feedback .img-group .avatar:nth-child(6) {
  position: absolute;
  top: 107px;
  right: 171px;
  width: 235px;
  height: 235px;
}

/* Career Portal */
.career-portal {
  margin-top: 130px;
  padding: 76px 0 88px;
  background: #def6f5;
}

.career-portal .body {
  display: flex;
  align-items: center;
  gap: 410px;
}

.career-portal .info .desc {
  margin-top: 18px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.career-portal .btn-block .get-started-btn {
  padding: 20px 41px;
  color: var(--accent-color-4);
  font-size: 1.8rem;
  font-weight: 600;
  border: 1px solid var(--accent-color-2);
  border-radius: 14px;
  background: #2ac9bf;
}

.career-portal .btn-block .get-started-btn:hover {
  opacity: 0.9;
  box-shadow: 0px 10px 15px -11px rgba(0, 0, 0, 0.1);
}

.footer {
  margin-top: 130px;
}

.footer .row-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer .row-top .item:first-child {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer .row-top .item:not(:first-child) a {
  margin-top: 18px;
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer .row-top .item:not(:first-child) a:hover {
  color: var(--accent-color-2);
}

.footer .row-top .list:last-child .item:not(:first-child) {
  display: flex;
  gap: 9px;
  align-items: center;
}

.footer .row-bottom {
  margin: 80px 0 50px;
  text-align: center;
}

.footer .row-bottom .copyright {
  color: #b0b5b4;
  font-size: 1.8rem;
  font-weight: 400;
}
