/* Common  */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0d1111;
  --secondary-color: #767e7e;
  --accent-color-1: #2f3a3b;
  --acent-color-2: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  height: 10000px;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  min-width: 108px;
  font-weight: 600;
  border: 1px solid var(--acent-color-2);
}

/* Header */
.header {
  padding-top: 64px;
}

.header.fixed {
  position: sticky;
  top: -30px;
}

.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .list {
  display: flex;
  gap: 39px;
}

.header .list a {
  color: var(--accent-color-1);
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.header .list a.active {
  font-weight: 600;
}

.header .sign-up-btn {
  margin-left: 24px;
  padding: 12px 23px;
  font-size: 1.6rem;
  color: var(--acent-color-2);
  border-radius: 6px;
}

.header .cta-group a:first-child {
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
}
