/* Common  */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0d1111;
  --secondary-color: #767e7e;
  --accent-color-1: #2f3a3b;
  --accent-color-2: #1ebfc1;
  --accent-color-3: #9da6a5;
  --accent-color-4: #fff;
}

html {
  font-size: 62.5%;
}

body {
  height: 10000px;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  padding: 20px 41px;
  border-radius: 14px;
  color: var(--accent-color-4);
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.heading {
  color: var(--primary-color);
  font-weight: 700;
}

.heading.lv1 {
  font-size: 6.2rem;
  line-height: 1.16;
}

.heading.lv2 {
  font-size: 4.2rem;
  line-height: 1.33;
}

/* Header */
.header {
  padding: 64px 0 24px;
  background: #fefefd;
}

.header.fixed {
  position: sticky;
  top: -40px;
  z-index: 1;
}

.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .list {
  display: flex;
  gap: 39px;
}

.header .list a {
  color: var(--accent-color-1);
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
}

.header .list a.active {
  font-weight: 600;
}

.header .sign-up-btn {
  margin-left: 24px;
  padding: 12px 23px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
  border-radius: 6px;
}

.header .cta-group a:first-child {
  color: #494949;
  font-size: 1.6rem;
  font-weight: 400;
}

/* Hero */
.hero {
  margin-top: 26px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .content-block {
  width: 45%;
}

.hero .content-block .title {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero .content-block .heading {
  margin-top: 18px;
  max-width: 458px;
}

.hero .content-block .desc {
  max-width: 374px;
  color: var(--accent-color-3);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}

.hero .content-block .cta-group {
  display: flex;
  margin-top: 52px;
  gap: 50px;
}

.hero .content-block .get-started-btn {
  background: var(--accent-color-2);
}

.hero .content-block .play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: transparent;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
  cursor: pointer;
}

.hero .banner-block {
  position: relative;
  padding-left: 65px;
}

.hero .banner-block .title {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

.hero .banner-block img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .banner-block .courses-card {
  position: absolute;
  top: 149px;
  left: 25px;
  padding: 17px 25px 18px;
  display: flex;
  gap: 16px;
  align-items: center;
  width: 157px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .banner-block .book-block {
  position: relative;
}

.hero .banner-block .book-img {
  width: 36px;
  height: 40px;
}

.hero .banner-block .horizontal-line-img {
  position: absolute;
  top: 28px;
  left: 4px;
  right: 4px;
  width: 28px;
  height: 4px;
  color: #f4dada;
}

.hero .banner-block .schedules-card {
  position: absolute;
  left: 0;
  bottom: 46px;
  padding: 16px 25px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  border-radius: 24px;
  background: var(--accent-color-4);
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .banner-block .horizontal-line-schedules-1,
.hero .banner-block .horizontal-line-schedules-2,
.hero .banner-block .horizontal-line-schedules-3 {
  width: 74px;
  height: 6px;
}

.hero .banner-block .horizontal-line-schedules-1 {
  margin-top: 16px;
}

.hero .banner-block .horizontal-line-schedules-2 {
  margin-top: 12px;
}

.hero .banner-block .horizontal-line-schedules-3 {
  margin-top: 10px;
}

.hero .banner-block .horizontal-line-schedules-4 {
  margin-top: 16px;
  width: 26px;
  height: 6px;
}

.hero .banner-block .active-students-card {
  position: absolute;
  right: 45px;
  bottom: 41px;
  padding: 17px 35px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 207px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .banner-block .avatar-group {
  margin-top: 8px;
  display: flex;
}

.hero .banner-block .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  color: var(--accent-color-4);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 33px;
  background: var(--avatar-bg-color, --accent-color-4);
}

.hero .banner-block .avatar:not(:first-child) {
  margin-left: -7px;
}

/* Features */
.features {
  margin-top: 209px;
}

.features .body {
  width: 88%;
}

.features .row-top .intro-title {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.083em;
}

.features .row-top .heading.lv2 {
  margin-top: 18px;
  max-width: 577px;
}

.features .row-top .desc {
  margin-top: 18px;
  max-width: 590px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
}

.features .feature-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.features .feature-list .feature-item {
  width: 33.33%;
}

.features .feature-list .feature-img {
  width: 102px;
  height: 106px;
}

.features .feature-list .title {
  margin-top: 26px;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

.features .feature-list .desc {
  margin-top: 16px;
  max-width: 224px;
  color: var(--accent-color-3);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68;
}
